.discover{
    margin: 70px auto;
}
.Discover-title h2{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.feature-icon {
    padding: 50px 139px;
}
.feature-details {
    padding: 0px 65px;
}
.imgitemf {
    width: 100%;
}
.feature-item {
    /* padding: 40px 40px 30px 40px; */
    color: #fff;
    position: relative;
    z-index: 1;
    width: 406px;
    height: 424px;
    /* left: 297px;
    top: 1231px; */
    transition: 0.45s;
    text-align: center;
    
  }
  
  .feature-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background: url(../img/feature_bg.png); */
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .feature-item-1 {
    background: #231E44;
  
  }
  
  .feature-item-1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(95.48deg, #2317FA -1.25%, #D529E4 97.48%);
    border-radius: 6px;
    transition: 0.45s;
    z-index: -2;
    opacity: 0;
  }
  
  .feature-item-1:hover:after {
    opacity: 1;
  }

  .feature-item-2 {
    background: linear-gradient(95.48deg, #2317FA -1.25%, #D529E4 97.48%);
box-shadow: 6px 16px 31px 8px rgba(59, 88, 239, 0.15)
  }
  
  .feature-item-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #231E44;
    border-radius: 6px;
    transition: 0.45s;
    z-index: -2;
    opacity: 0;
  }
  
  .feature-item-2:hover:after {
    opacity: 1;
  }
  
  .feature-item-3 {
    background: #231E44;
  }
  
  .feature-item-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(95.48deg, #2317FA -1.25%, #D529E4 97.48%);
    border-radius: 6px;
    transition: 0.45s;
    z-index: -2;
    opacity: 0;
  }
  
  .feature-item-3:hover:after {
    opacity: 1;
  }

  .feature-details h4{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
  }
  .feature-details p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
  }


  

@media (max-width: 1366px) {
  
  .feature-item {
    width: 354px;
    
}
  
  
}



@media (min-width: 1025px) and (max-width: 1280px) {
  .feature-item {
    width: 302px;
}
.feature-details {
  padding: 0px 36px;
}
.feature-icon {
  padding: 49px 93px;
}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .feature-item {
    width: 222px;
}
.feature-icon {
  padding: 33px 52px;
}
.feature-details {
  padding: 0px 8px;
}
.feature-details h4 {
 
  font-size: 26px;
 
}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .feature-item {
    width: 222px;
}
.feature-icon {
  padding: 33px 52px;
}
.feature-details {
  padding: 0px 8px;
}
.feature-details h4 {
 
  font-size: 26px;
 
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 375px) and (max-width: 767px) {
  .feature-item {
    width: 459px;
    margin-bottom: 38px;
    margin-left: 10px;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}