img.card-img-top {
    width: 144.54px;
    height: 125px;
    margin: 33px 0px 11px 0px;
}
h4.card-title.h4.mission_name {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.carditem{
    width: 309px;
    height: 394px;
    background: #1D0C41;
    
    backdrop-filter: blur(45px);
    border-radius: 10px;
    margin: 41px 0px 7px 0px;
}
.Rocket {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #DADADA;
    margin-bottom: 0px;

}




@media (max-width: 1366px) {
  
    .carditem {
        width: 257px;
        
    }
    
  }
  
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .carditem {
        width: 212px;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .carditem {
        width: 211px;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .carditem {
        width: 211px;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 375px) and (max-width: 767px) {
    .carditem {
      width: 239px;
      margin: 38px 0px 14px 0px;
  }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 360px) and (max-width: 374px) {
    .carditem {
     
      margin: 38px 0px 14px 18px !important;
  }
 
    
  }
  @media (min-width: 320px) and (max-width: 480px) {
    
    .carditem {
      width: 290px;
      margin: 38px 0px 14px 50px;
  }
    
  }