img.card-img-top {
    width: 144.54px;
    height: 125px;
    margin: 33px 0px 11px 0px;
}
h4.card-title.h4.mission_name {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.carditem{
    width: 309px;
    height: 394px;
    background: #1D0C41;
    
    backdrop-filter: blur(45px);
    border-radius: 10px;
    margin: 41px 0px 7px 0px;
}
.Rocket {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #DADADA;
    margin-bottom: 0px;

}